@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import '_custom.scss';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 250px;
    /* Espace pour le footer */
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}