@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import '_custom.scss';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 250px;
    /* Espace pour le footer */
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../image/pexels-shantanu-pal-938952-2679501.jpg);
        background-size: cover;
        filter: brightness(0.7);
    }

    * {
        position: relative;
    }

}

.hero-scene-content {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}