@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import '_custom.scss';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 170px;
    /* Espace pour le footer */
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
    position: relative;
    margin-bottom: 15px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../image/pexels-shantanu-pal-938952-2679501.jpg);
        background-size: cover;
        filter: brightness(0.7);
    }

    * {
        position: relative;
    }

}

.hero-scene-content {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-card {
    position: relative;

    &:hover {
        .titre-image {
            opacity: 1;
        }

        img {
            filter: brightness(0.3);
        }

        .action-image-buttons {
            opacity: 1;
        }
    }

    img {
        transition: all 0.3s;
    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}

.form-label {
    color: $primary;
}

.action-image-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    opacity: 0;
    transition: all 0.3s;
}